section{
    max-width:1200px;
    margin:auto;
    height:100%; 
    padding-top:2rem;
}
.intro-container{
    margin-top:5%;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    align-items:center;
    .intro-content{
        height:100%;
        width:70%;
        h2{
            font-size:3.5rem;
        }
        button{
            .custom-button();
        }
    }

    .intro-img{
        width:30%;
    }
}

.crashData-container{
    img{
        max-width:50%;
    }
}

.team-content{
    display:flex;
    flex-direction: column;
    .member-card{
        width:80%;
        margin:auto;
        padding:2rem;
        display:flex;
        align-content: center;  
        align-items: center;
        
        img{
            width:150px;
        }
    }
    .member-card:nth-child(even){
        flex-direction: row-reverse;
        padding:0 2rem;
    }
}


