header{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-content:center;
    align-items: center;
    padding:10px;
    background:@blue;
    h1{
        font-size: 3.5rem;  
        &:hover{
            color:@yel;
        }
    }
    .nav-brand{
        display:flex;
        img{
            max-width:4rem;
            height:auto;
        }
    }
    a{
        font-size:2rem;
        padding:0 2rem;
        text-decoration: none;
        color:#fff;
        &:hover{
            color:@yel;
        }

    }

    .fa-map-marker{
        color:red;
    }

}

nav{
    .navLinks{
        //display:none;
        margin-right:7rem;
        opacity:0;
        height:0;
        overflow:hidden;
        transition:all 1s;
    }

    .barWrapper{
        position:absolute;
        padding:1rem;
        right:2rem;
        cursor: pointer;
        top:1rem;
        right:3rem;
        .bar1, .bar2, .bar3 {
            width: 3.5rem;
            height: .5rem;
            background-color: #fff;
            margin: .6rem 0;
            transition: 0.4s;
        }
    }
      
    .active{ 
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        
        .bar2 {opacity: 0;}
        
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }

        .navLinks{
            opacity:1;
            height:auto;
            transition:all 1s;
        }
    }
}